*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #D4D4D4;
	font-family: 'Open sans';
}

.wrap{
	width: 800px;
	max-width: 90%;
	margin: 30px auto;
}

ul.tabs{
	width: 100%;
	background: #363636;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 18%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background: #0984CC;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: #fff;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}

.c-img{
	width: 100%;
	max-width: 900px;
	margin: 100px auto;
	position: relative;
	overflow: hidden;
	cursor: pointer;

	display: flex;
	align-items: center;
}

.c-img::before{
	content: "";
	position: absolute;
	width: calc(100% - 30px);
	height: 4px;
	background: #fff;
	transition: all .3s;
	left: -100%;
	top: 10px;
}

.c-img::after{
	content: "";
	position: absolute;
	width: calc(100% - 30px);
	height: 4px;
	background: #fff;
	transition: all .3s;
	left: 100%;
	bottom: 10px;
}

.c-img:hover::before{
	left: 15px;
}

.c-img:hover::after{
	left: 15px;
}
.moto {
	width: 100%;
}

.txt {
	text-align: center;
	position: absolute;
	transition: all .3s;

	transform: scale(1.5);
	opacity: 0;

	
}

h1 {
	color: #FFF;
	padding: 10px 20px;
	text-align: center;
}
.p-inicial{
	color: #FFF;
	padding: 10px 20px;
}

.c-img:hover .txt{
	transform: scale(1);
	opacity: 1;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}